.first {
  background-color: rgba(37, 36, 36, 1);
  height: 900px;
  width: 1440px;
  animation: show 1s forwards;
  position: absolute;
  overflow: hidden;
}

.second {
  left: 1440px;
  position: absolute;
  background-color: rgba(37, 36, 36, 1);
  height: 900px;
  width: 1440px;
}

.slider-img {
  border: 2px solid green;
  position: absolute;
  right: 200px;
  top: 200px;
  animation: slider infinite 0.2s;
  background-image: image(sl);
}
.element {
  /* animation: moving 1s infinite linear; */
  transform-origin: -80px -80px;
  position: absolute;
  top: 300px;
  left: 500px;
}

@keyframes moving {
  100% {
    transform: rotate(-360deg);
  }
}

.slider-anim {
}

.sek {
  width: 80px;
  height: 30px;
  left: calc(12313+23 * 2);
  background-color: white;
  /* transform: ; */
}

@keyframes slider {
  0% {
    transform: translateX(-100px) translateY(-100px);
  }
  /* 1% {
    transform: translateX(-100px) translateY(-99px);
  }
  2% {
    transform: translateX(-100px) translateY(-98px);
  }
  3% {
    transform: translateX(-100px) translateY(-97px);
  }
  4% {
    transform: translateX(-100px) translateY(-96px);
  }
  5% {
    transform: translateX(-100px) translateY(-95px);
  }

  6% {
    transform: translateX(-100px) translateY(-94px);
  }
  7% {
    transform: translateX(-100px) translateY(-93px);
  }
  8% {
    transform: translateX(-100px) translateY(-92px);
  }
  9% {
    transform: translateX(-100px) translateY(-91px);
  }
  10% {
    transform: translateX(-100px) translateY(-90px);
  }

  20% {
    transform: translateX(-100px) translateY(-80px);
  }
  30% {
    transform: translateX(-100px) translateY(-70px);
  }
  40% {
    transform: translateX(-100px) translateY(-60px);
  }
  */
  50% {
    transform: translateX(-100px) translateY(-50px);
  }

  100% {
    transform: translateX(0) translateY(0);
  }
}
